<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true"
    internalLogFile=" Nlog.txt">
    <targets>
        <target name="file" xsi:type="File"
        layout="${longdate} ${threadid:padding=3} ${level:padding=-30} ${logger:padding=-30} ${message} ${exception:format=tostring}"
        fileName="${basedir}/logs/${shortdate}.txt"/>
        <target name="errors" xsi:type="File"
        layout="${longdate} ${threadid:padding=3} ${level:padding=-30} ${logger:padding=-30} ${message} ${exception:format=tostring}"
        fileName="${basedir}/logs/${shortdate}.errors.log" />
        <target name="console" xsi:type="ColoredConsole"
                layout="${date:format=HH\:MM\:ss} ${threadid:padding=3} ${logger:padding=-30} ${message}" />
    </targets>
    <rules>
        <logger name="*" minlevel="Trace" writeTo="file, console" />
        <logger name="*" minLevel="Error" writeTo="errors" />
    </rules>
</nlog>